[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = master
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = git@github.com:MindXL/glfw.git
	branch = master
[submodule "Hazel/vendor/ImGui"]
	path = Hazel/vendor/ImGui
	url = git@github.com:MindXL/imgui.git
	branch = docking
[submodule "Hazel/vendor/GLM"]
	path = Hazel/vendor/GLM
	url = git@github.com:g-truc/glm.git
	branch = master
